#navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    /* position:fixed; */
    z-index: 2;
    width: 100%;
    
}

/* Page content */
.content {
    padding: 52px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 100px;
}

/* #logo{

} */

#nav nav-pills{
    float: right;
}


#description{

}

#productmockup{
    transition: transform 0.5s ease;
}

@keyframes notslide{
    0%{
        transform: translateX(110%);
    }
    100%{
        transform: translateX(0%);
    }
}

.notslide {
    animation: notslide 2s 1;
  }





@keyframes notnotslide{
    0%{
        transform: translateX(-110%);
    }
    100%{
        transform: translateX(0%);
    }
}

.notnotslide {
    animation: notnotslide 2s 1;
}